<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  meta，用户加入rss feed  -->
    {% block meta %}<!-- block meta --> {% endblock %}
    <!--  标题  -->
    <title>{% block title %} ? {% endblock %} - Awesome Python</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit-rtl.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <!--  可引入js  -->
    {% block beforehead %}<!-- before head  --> {% endblock %}
</head>
<body>
<nav class="uk-navbar-container uk-navbar">
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">Awesome</a>
        <ul class="uk-navbar-nav">
            <li data-url="blogs"><a href="/"><i uk-icon="home"></i>博客 </a></li>
            <li><a target="_blank" href="#"><i uk-icon="bookmark"></i>笔记 </a></li>
            <li><a target="_blank" href="#"><i uk-icon="code"></i>日志 </a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if __user__ %}
            <li >
                <a href="#0"><i class="uk-icon-user"></i> {{__user__.name}} </a>
                <div uk-dropdown="mode:hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="/signout"><i uk-icon="sign-out"></i> 登出</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li><a href="/signin"><i uk-icon="sign-in"></i> 登陆</a></li>
            <li><a href="/register"><i uk-icon="pencil"></i> 注册</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- // content -->
    </div>
</div>

<div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
    <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-panel uk-margin-top uk-margin-bottom">
            <p>
                <a target="_blank" href="#" uk-icon="facebook" class="uk-icon-button"></a>
                <a target="_blank" href="#" uk-icon="github" class="uk-icon-button"></a>
                <a target="_blank" href="#" uk-icon="linkedin" class="uk-icon-button"></a>
                <a target="_blank" href="#" uk-icon="twitter" class="uk-icon-button"></a>
            </p>
            <p>Powered by <a href="#">Awesome Python Webapp</a>. Copyright &copy; 2019. [<a href="/manage/"
                                                                                            target="_blank">Manage</a>]
            </p>
            <p><a href="https://hyman213.github.io/Blog/" target="_blank">https://hyman213.github.io/Blog/</a>. All
                rights reserved.</p>
            <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
        </div>
    </div>
</div>

</body>
</html>